ollama
aiofiles
aiogram
aiohttp
aiosignal
amqp
annotated-doc
annotated-types
anyio
asyncpg
attrs
billiard
blis
catalogue
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpathlib
confection
cymem
frozenlist
gigachat
h11
hashids
httpcore
httpx
idna
jericho
Jinja2
jsonpatch
jsonpointer
kombu
langchain-core
langchain-gigachat
langchain-protocol
langsmith
magic-filter
markdown-it-py
MarkupSafe
mdurl
mementos
more-itertools
multidict
murmurhash
networkx
numpy
orjson
packaging
preshed
prompt_toolkit
propcache
pydantic
pydantic-settings
pydantic_core
Pygments
python-dateutil
python-dotenv
PyYAML
redis
requests
requests-toolbelt
rich
setuptools
shellingham
six
smart_open
spacy
spacy-legacy
spacy-loggers
srsly
TatSu
tenacity
termcolor
textworld
thinc
tqdm
typer
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uuid_utils
vine
wasabi
wcwidth
weasel
wrapt
xxhash
yarl
zstandard